<a class="btn btn-primary" routerLink="/work/addwork">Add Work</a>
<a class="btn btn-primary" routerLink="/post">Post</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tiêu đề</th>
            <th scope="col">Ngày tạo</th>
            <th scope="col">ID Danh mục</th>
            <th scope="col">Nội dung ngắn</th>
            <th scope="col">Nội dung</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let work of workList; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{work.title}}</td>
            <td>{{work.created}}</td>
            <td>{{work.category}}</td>
            <td>{{work.shortdes}}</td>
            <td>{{work.description}}</td>
            <td>
                <button class="btn btn-primary ms-1" routerLink="/work/edit/{{ work.id }}">Edit</button>
            </td>
            <td>
                <button class="btn btn-danger ms-1" (click)="onRemoveWork(work.id!)">Remove</button>
            </td>
        </tr>
    </tbody>
</table>