<a class="btn btn-primary" routerLink="/post/addpost">Add Post</a>
<a class="btn btn-primary" routerLink="/work">Work</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tiêu đề</th>
            <th scope="col">Ngày tạo</th>
            <th scope="col">ID Danh mục</th>
            <th scope="col">Nội dung ngắn</th>
            <th scope="col">Nội dung</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of postList; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{post.title}}</td>
            <td>{{post.created}}</td>
            <td>{{post.category}}</td>
            <td>{{post.shortdes}}</td>
            <td>{{post.description}}</td>
            <td>
                <button class="btn btn-primary ms-1" routerLink="/post/edit/{{ post.id }}">Edit</button>
            </td>
            <td>
                <button class="btn btn-danger ms-1" (click)="onRemovePost(post.id!)">Remove</button>
            </td>
        </tr>
    </tbody>
</table>