<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://kit.fontawesome.com/2929a2d643.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header>
            <div class="logo__item">
                <a href="">
                    <img src="../img/portfolio-logo-91.webp" width="80px">
                </a>
            </div>
            <!-- logo__item -->
            <div class="header__top">
                <ul>
                    <li><a href="./works.html">Works</a></li>
                    <li><a href="./blog.html">Blog</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </header>
        <section class="header__introduce">
            <div class="introduce__left">
                <h2>Hi, I am Khoi,<br>
                    Front End Developer</h2>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet <br> sint. Velit officia
                    consequat
                    duis enim velit
                    mollit. Exercitation veniam <br> consequat sunt nostrud amet.</p>
                <button>Download Resume</button>
            </div>
            <!-- introduce__left -->
            <div class="introduce-img__right">
                <img src="../img/khoine.jpg" width="240px" alt="">
            </div>
            <!-- introduce-img__right -->
        </section>
        <!-- header__introduce -->
        <section class="container__posts">
            <div class="post__item">
                <p>Recent posts</p>
                <a href="">View all</a>
            </div>
            <!-- post__item -->
            <div class="container__content-post">
                <div class="container-box__left">
                    <ul class="content-item__box">
                        <li>
                            <a href="">
                                <h3>Making a design system from <br> scratch</h3>
                            </a>
                        </li>
                        <li class="content-item__category">
                            <div class="text1">
                                12 Feb 2020
                            </div>
                            <div class="boder1"></div>
                            <a href="">Design, Pattern</a>
                        </li>
                        <li class="content-text__box">Amet minim mollit non deserunt ullamco est sit <br> aliqua dolor
                            do
                            amet sint. Velit officia
                            consequat <br> duis enim velit
                            mollit. Exercitation veniam <br> consequat sunt nostrud amet.</li>
                    </ul>
                </div>
                <!-- container-box__left -->
                <div class="container-box__left">
                    <ul class="content-item__box">
                        <li>
                            <a href="">
                                <h3>Creating pixel perfect icons in <br> Figma</h3>
                            </a>
                        </li>
                        <li class="content-item__category">
                            <div class="text1">
                                12 Feb 2020
                            </div>
                            <div class="boder1"></div>
                            <a href="">Figma, Icon Design</a>
                        </li>
                        <li class="content-text__box">Amet minim mollit non deserunt ullamco est sit <br> aliqua dolor
                            do amet sint. Velit officia
                            consequat <br> duis enim velit
                            mollit. Exercitation veniam <br> consequat sunt nostrud amet.</li>
                    </ul>
                </div>
                <!-- container-box__right -->
            </div>
            <!-- container__content-post -->
        </section>
        <!-- container__posts -->
        <section class="container__work">
            <div class="content__title">
                <p>Featured works</p>
            </div>
            <!--content__title -->
            <div class="container-content__work">
                <div class="content-top__work">
                    <div class="work__img">
                        <img src="../img/Rectangle 30.jpg" alt="">
                    </div>
                    <!-- work__img -->
                    <div class="content-work__blog">
                        <ul>
                            <li class="work__text">
                                <a href="">
                                    <h3>Designing Dashboards</h3>
                                </a>
                            </li>
                            <li class="work__text2">
                                <p>2020</p>
                                <a href="">Dashboard</a>
                            </li>
                            <li class="work__text3">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit <br>
                                officia
                                consequat duis enim velit
                                mollit. Exercitation veniam consequat sunt <br> nostrud amet.
                            </li>
                        </ul>
                    </div>
                    <!-- content-work__blog -->
                </div>
                <!-- content-top__work -->
                <div class="content-center__work">
                    <div class="work__img">
                        <img src="../img/Rectangle 32.jpg" alt="">
                    </div>
                    <!-- work__img -->
                    <div class="content-work__blog">
                        <ul>
                            <li class="work__text">
                                <a href="">
                                    <h3>Vibrant Portraits of 2020</h3>
                                </a>
                            </li>
                            <li class="work__text2">
                                <p>2018</p>
                                <a href="">Illustration</a>
                            </li>
                            <li class="work__text3">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit <br>
                                officia
                                consequat duis enim velit
                                mollit. Exercitation veniam consequat sunt <br> nostrud amet.
                            </li>
                        </ul>
                    </div>
                    <!-- content-work__blog -->
                </div>
                <!-- content-center__work -->
                <div class="content-bottom__work">
                    <div class="work__img">
                        <img src="../img/Rectangle 34.jpg" alt="">
                    </div>
                    <!-- work__img -->
                    <div class="content-work__blog">
                        <ul>
                            <li class="work__text">
                                <a href="">
                                    <h3>36 Days of Malayalam type</h3>
                                </a>
                            </li>
                            <li class="work__text2">
                                <p>2018</p>
                                <a href="">Typography</a>
                            </li>
                            <li class="work__text3">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit <br>
                                officia
                                consequat duis enim velit
                                mollit. Exercitation veniam consequat sunt <br> nostrud amet.
                            </li>
                        </ul>
                    </div>
                    <!-- content-work__blog -->
                </div>
                <!-- content-bottom__work -->
            </div>
            <!-- container-content__work -->
        </section>
        <!-- container__work -->
        <footer>
            <div class="content__item">
                <a href="">
                    <i class="fa-brands fa-facebook-square"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
            <div class="content__footter">
                <p>Copyright ©2020 All rights reserved</p>
            </div>
        </footer>
    </div>
    <div id="backTop">
        <i class="fas fa-arrow-up"></i>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop()) {
                $('#backTop').fadeIn();
            } else {
                $('#backTop').fadeOut();
            }
        });
        $('#backTop').click(function () {
            $('html , body').animate({
                scrollTop: 0
            }, 300);
        });
    });
</script>

</html>