<form (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="work.title" name="title">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Created</label>
        <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="work.created" name="created">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">CategoryWork</label>
        <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="work.category" name="category">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">ShortDes</label>
        <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="work.shortdes" name="shortdes">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Description</label>
        <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="work.description"
            name="description">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>